= form_for @message do |f|
  .row
    - if @message.errors.any?
      #error_messages
        .alert.alert-danger role='alert' 
          button.close data-dismiss='alert' type='button'  x
          h2
            = fa_icon 'exclamation-triangle', text: 'Form is invalid'
          ul
            - @message.errors.full_messages.each do |msg|
              li= msg
  .row
    .input-field.col.l6.s12
      i.material-icons.prefix account_circle
      = f.text_field :full_name, class: 'validate', id: 'icon_prefix', required: true
      = f.label 'Полное имя'
    .input-field.col.l6.s12
      i.material-icons.prefix email
      = f.text_field :email, class: 'validate', id: 'icon_prefix', required: true
      = f.label 'E-mail'
  .row
    .input-field.col.s12
      i.material-icons.prefix phone
      = f.text_field :phone, class: 'validate', id: 'icon_prefix', required: true
      = f.label 'Ваш номер телефона'
  .row
    .col.s12.l12
      p= f.collection_select :service_ids, Service.all, :id, :name, {}, multiple: true, class: "browser-default"
  br
  .row
    .input-field.col.s12.l12
      i.material-icons.prefix create
      = f.text_area :message, class: 'materialize-textarea validate', id: 'icon_prefix', required: true
      = f.label 'Ваше сообщение'
  .row
    .right-align
      = f.button class: 'waves-effect waves-light btn light-blue darken-3' do
        i.material-icons.right send
        | Связатся с нами
  br
  .row
    - flash.each do |name, msg|
      = content_tag :div, msg, id: "flash_#{name}"
