.row
  .col.sm12.l6.s12
    = form_for [:admin, @service] do |f|
      .row
        .col.l9.s6.sm12
          = f.label 'Название'
          p
          = f.text_field :name, class: 'input-field', required: :true
        .col.l3.s6.sm12
          = f.label 'Цена'
          .input-field
            = f.text_field :price, required: :true
            span.currency_symbol.prefix ₽
      .row
        .col.l12.s12
          = f.label 'Описание'
          br
          = f.text_area :description, class: 'materialize-textarea', required: :true
      .row
        .col.l6.s6
          = link_to 'Назад', admin_dashboard_path, class: "waves-effect waves-light btn light-blue darken-3"
        .col.l6.s6
          .right-align
            = f.button 'ОК', class: "btn light-green darken-4"
