br
.row
  .col.s12.m6.l6.offset-l3
    = form_tag admin_sessions_path  do
      = label_tag :email
      br
      = text_field_tag :email, nil, required: true
      br
      = label_tag :password
      br
      = password_field_tag :password, nil, required: true
      br
      = submit_tag 'Sign in', class: 'waves-effect waves-light btn indigo darken-1'
