= form_for [:admin, @achievement] do |f|
  .col.sm12.s12.l6
    = f.select :type, options_for_select(['Diploma','Letter']), {}
    br
    b Фото
    br
    = f.file_field :url
    = f.hidden_field(:url_cache)
    p
    .row
      = f.submit 'OK', class: 'btn'
