.diplomas_desctop
  - @achievements.each do |achievement|
    .col.m4.sm12.l2.m3.diplomas
      a.carousel-item data-fancybox="diplomas" href="#{achievement.url.url(:big_large)}"
        = image_tag achievement.url.url(:medium), crop: "scale", class: 'diplom_image'
.diplomas_mobile
  - @achievements.each do |achievement|
    .col.m4.sm4.dip_mob
      a.carousel-item data-fancybox="diplomas_mobile" href="#{achievement.url.url(:big_large)}"
        = image_tag achievement.url.url(:medium), crop: "scale", class: 'diplom_image_mobile'
