- @porthfolios.each do |porth|
  .col.s12.m6.l4
    .card.indigo.darken-4.2.project_cart
      br.line-port
      .white-text
        .title_video title="#{porth.title}"
          h5= truncate(porth.title, length: 40)
        .frame_place
          p= raw porth.frame_code
        .description title="#{porth.description}"
          p= truncate(porth.description, length: 80)
.row
  .col.s12
    center
      = will_paginate @porthfolios, renderer: MaterializePagination::Rails
