#price_list_modal.modal
  .modal-header
    center
      h4 Полный список наших услуг
  .modal-content
    .col.m12.s12.sm12
      table.highlight
        thead
          tr
            th #
            th width='150px' Услуга
            th Описание
            th width='150px' Цена
        tbody
          - @services.each_with_index do |service, i|
            tr
              td= i+1
              td= service.name
              td= service.description
              td #{service.price} руб
  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn.green Закрыть
