table.highlight.white
  thead
    tr
      th #
      th width='200px' Название услуги
      th Описание
      th width='150px' Цена
  tbody
    - @services.each_with_index do |service, i|
      tr
        td= i+1
        td= service.name
        td= service.description
        td #{service.price} руб
