.row.about-us-block
  #AboutUs
    center= image_tag("menu/О_нас_cbtsgm.png", width: 500, crop: "scale", class: 'header-item')
  .col.s12.m12.l6
    .slider
      ul.slides
        li= image_tag 'backstages/1.jpg'
        li= image_tag 'backstages/2.jpg'
        li= image_tag 'backstages/3.jpg'
        li= image_tag 'backstages/4.png', class: 'image-carousel'
  .col.s12.m12.l6
    - if @about.present?
      = raw @about.body
.row
  #ServiceList
    center= image_tag("menu/Список_услуг_nvuiqd.png", width: 500, crop: "scale", class: 'header-item')
  .col.s12.m12.l8.offset-l2
    = render 'services'
.row
  center
    #Portholio
      center= image_tag("menu/Портфолио_qdvzlw.png", width: 500, crop: "scale", class: 'header-item')
    #port_list
      = render 'portfolios'
.row
  .carousel
    = render 'posters'
.row
  #Achievements
    center= image_tag("menu/Dostizhenia.png", height: 55, width: 450, crop: "scale", class: 'header-item')
  = render 'achievements'
.row
  #Contact
    center= image_tag("menu/Контакты_fvrb5b.png", width: 500, crop: "scale", class: 'header-item')
  .col.s12.m12.l5
    .col.s12.m6.l6
      p
      b Роман Булычев:
      p= fa_icon 'phone', text: '+7-908-159-50-44'
      p
      a href='https://vk.com/id248778866' target='_blank'
        = fa_icon 'vk', class: 'text-light-blue text-darken-4 fa-2x'
    .col.s12.m6.l6
      p
      b Дмитрий Романов:
      p= fa_icon 'phone', text: '+7-902-682-01-38'
      p
      a href='https://vk.com/project_rebel' target='_blank'
        = fa_icon 'vk', class: 'text-light-blue text-darken-4 fa-2x'
      p= fa_icon 'envelope', text: 'nnvideoprod@yandex.ru'
  .col.sm12.s12.l6
    .row
      = render 'messages/new'
