- @achievements.each do |achievement|
  .col.l4.s6
    = image_tag achievement.url.url(:medium), class: 'admin-image-portholio'
    p= link_to 'Удалить', admin_achievement_path(achievement), method: :delete, data: { confirm: 'Вы действительно хотите удалить эту картинку?' }
