.col.s12.m12.l12
  table.highlight
    thead
      tr
        th Имя
        th E-mail
        th Номер телефона
        th Список услуг
        th Комментарий
    tbody
      - @messages.each do |message|
        tr
          td= message.full_name
          td= message.email
          td= message.phone
          td
            - message.services.each do |service|
              li= service.name
          td= message.message
