- @porthfolios.each do |porth|
  .row
    .col.l2.s4.sm4
      .frame_place_list
        = raw porth.frame_code
        = link_to edit_admin_portfolio_path(porth) do
          i.material-icons edit
        = link_to admin_portfolio_path(porth), method: :delete, data: { confirm: 'Вы действительно хотите удалить эту работу?' } do
          i.material-icons delete
    .col.l6.s8.sm8
      b= porth.title
      p= truncate(porth.description, length: 200)
