- @posters.each do |poster|
    .col.l4.s6
      = image_tag poster.image_url(:medium), class: 'admin-image-portholio'
      p= link_to 'Удалить', admin_poster_path(poster), method: :delete, data: { confirm: 'Вы действительно хотите удалить эту картинку?' }
