- @services.each_with_index do |service, i|
  tr
    td= i+1
    td= service.name
    td= service.description
    td= humanized_money_with_symbol service.price
    td
      = link_to edit_admin_service_path(service) do
        i.material-icons edit
      = link_to admin_service_path(service), method: :delete, data: { confirm: 'Вы действительно хотите удалить эту услугу?' } do
        i.material-icons delete
