h3 Услуги
.row
  .col.s12.m12.l8
    table.highlight
      thead
        tr
          th #
          th Название услуги
          th Описание
          th Цена
          th Действия
      tbody
        = render 'services'
.row
  = link_to 'Добавить услугу', new_admin_service_path, class: "black-text waves-effect waves-light btn lime accent-2"
h3 Портфолио
.row
  = render 'portfolios'
.row
  center
    = will_paginate @porthfolios, renderer: MaterializePagination::Rails
.row
  = link_to 'Добавить работу', new_admin_portfolio_path, class: "black-text waves-effect waves-light btn lime accent-3"
h3 Отличия
.row
  = render 'achievements'
.row
  = link_to 'Добавить награду', new_admin_achievement_path, class: "black-text waves-effect waves-light btn lime accent-3"
h3 Сообщения
.row
  = render 'messages'
h3 О нас
- if @about.present?
  = raw @about.body
  br
  = link_to 'Редактировать', edit_admin_about_path(@about)
- else
  = link_to 'Добавить информацио о нас', new_admin_about_path
h3 Фото-портфолио
.row.all_pictures
  = render 'posters'
.row
  = link_to 'Добавить картинку', new_admin_poster_path, class: "black-text waves-effect waves-light btn lime accent-3"
