doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta name="viewport" content="width=device-width, initial-scale=1"
    title NN VideoProd - Панель администратора
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'logo/NN_Video_Prod_icon.png', type: 'image/png'
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /
  body
    .container
      = render 'shared/admin/header'
      = yield
