footer.page-footer.blue.lighten-4
  .container
    .row
      .col.l6.s12
        = link_to root_path do
          = image_tag 'logo/NNVideoProdFooter.png', class: 'logo-nnvideo-footer'
      .col.l4.offset-l2.s12
        ul
          li
            a.black-text.text-lighten-3 id="about_us_footer" О нас
          li
            a.black-text.text-lighten-3 id="service_list_footer" Наши услуги
          li
            a.black-text.text-lighten-3 id="portholio_footer" Портфолио
          li
            a.black-text.text-lighten-3 id="achievements_footer" Достижения
          li
            a.black-text.text-lighten-3 id="contact_footer" Контакты
  .footer-copyright
    .container.black-text
      | © 2018 CrashGtaFan
      p Создатель сайта: Данил Удалов
      p Разработчики: Данил Удалов, Владимир Рустамов, Дмитрий Романов
      br
      = render 'shared/metrika'
