.row.header-main
  .col.l3.s3.sm3
    center
      = image_tag 'logo/NN_Video_Prod_Logo.png', class: 'logo-nnvideo-header', crop: 'scale'
  .col.l9.s9.sm9
    .row
      .col.l2.s2.sm2
        a id="about_us"
          .about_us-icons
      .col.l2.s2.sm2
        a id="service_list"
          .your-service-icon
      .col.l2.s2.sm2
        a id="portholio"
          .portfolio-icon
      .col.l2.s2.sm2
        a id="achievements"
          .achievements-icon
      .col.l2.s2.sm2
        a id="contact"
          .contacts-icon
