.row
  .col.sm12.s12.l6
  	= form_for [:admin, @portfolio] do |f|
  	  .row
        = f.label 'Название'
        br
        = f.text_field :title, required: true
      .row
        = f.label 'Описание'
        br
        = f.text_area :description, required: true, class: 'materialize-textarea'
      .row
        = f.label 'Вставте ссылку для встраивания'
        br
        = f.text_field :frame_code, required: true
      .row
        .col.l6.s6
          = link_to 'Назад', admin_dashboard_path, class: "waves-effect waves-light btn light-blue darken-3"
        .col.l6.s6
          .right-align
            = f.submit 'OK', class: "waves-effect waves-light btn light-green darken-4"
