/*
 *= require_tree .
 *= require_self
*/
@import "materialize";
@import "font-awesome";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body{
  font-family: 'Lucida Sans Unicode', arial;
}
nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  padding-left: 3px
}
.cap-page{
  height: 200px;
}
@media only screen and (min-width: 993px){
 .container {
    width: 85%;
  }
}
.pagination a li.active { color: #fff; }
.pagination li {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  vertical-align: top;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-top: 0px;
}
.icon-go-top{
  line-height: 2;
}
select.browser-default {
  display: block;
  height: 100px;
}
h3 {
  font-family: 'Raleway',sans-serif;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #03a9f4;
  text-shadow: 1px 1px 0 #000;
}
.logo-nnvideo{
  width: 80px;
  height: 55px;
}
.header-main nav ul li a{
  color: black;
}
.logo-nnvideo-footer{
  height: 50px;
}
.logo-nnvideo-header{
  height: 200px;
}
@media (max-width: 768px){
 .logo-nnvideo-header {
    height: 72px;
    margin-top: 7px;
  }
}
.your-service-icon {
  background-image: url("icons/your_service.png");
  background-size: 90px;
  background-repeat: no-repeat;
  width: 138px;
  height: 134px;
  margin-top: 74px;
}
.your-service-icon:hover{
  background-image: url("icons/your_service_blue.png");
}
@media (max-width: 768px){
  .your-service-icon {
    background-size: 32px;
    background-repeat: no-repeat;
    margin-top: 30px;
  }
}
.about_us-icons {
  background-image: url("icons/about_us.png");
  background-size: 100px;
  background-repeat: no-repeat;
  width: 125px;
  height: 126px;
  margin-top: 58px;
}
.about_us-icons:hover{
  background-image: url("icons/about_us_blue.png");
}
@media (max-width: 768px){
  .about_us-icons {
    background-size: 40px;
    background-repeat: no-repeat;
    margin-top: 23px;
  }
}
.portfolio-icon {
  background-image: url("icons/portfolio.png");
  background-size: 112px;
  background-repeat: no-repeat;
  width: 125px;
  height: 129px;
  margin-top: 55px;
}
.portfolio-icon:hover{
  background-image: url("icons/portfolio_blue.png");
}
.achievements-icon:hover{
  background-image: url("icons/achievement_blue.png");
}
.achievements-icon {
  background-image: url("icons/achievement.png");
  background-size: 132px;
  background-repeat: no-repeat;
  width: 126px;
  height: 129px;
  margin-top: 63px;
}
@media (max-width: 768px){
  .portfolio-icon {
    background-size: 45px;
    background-repeat: no-repeat;
    margin-top: 22px;
  }
  .achievements-icon {
    background-size: 52px;
    background-repeat: no-repeat;
    margin-top: 28px;
  }
  .header-item {
    max-width: 300px;
    height: 40px;
  }
}
.contacts-icon {
  background-image: url("icons/contact.png");
  background-size: 109px;
  background-repeat: no-repeat;
  width: 125px;
  height: 129px;
  margin-top: 55px;
}
.contacts-icon:hover{
  background-image: url("icons/contact_blue.png");
}
@media (max-width: 768px){
  .contacts-icon {
    background-size: 40px;
    background-repeat: no-repeat;
    margin-top: 25px;
  }
}
.header-main{
  background-image: url('backgrounds/gradient-black-to-white-wallpaper-2.png');
  background-position-y: 100%;
}
