.frame_place{
  iframe{
    width: 80%;
    height: 200px;
  }
}
.project_cart{
  height: 380px;
}
.indigo.darken-4 {
  border-radius: 35px;
}
.image-header-background{
  height: 200px;
  background-image: url('http://res.cloudinary.com/dpl8cm5ts/image/upload/v1517077028/background_header_image_t0njur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -22px;
}
#topcontrol{
  margin-bottom: 50px;
  margin-right: 30px;
}
.checkbox_container input {
  display: inline;
}
.image-portholio{
  height: 100%;
  width: 100%;
}
.about-us-block{
  margin-bottom: -21px;
}
.image-carousel{
  width: 300px;
}
.carousel .carousel-item>img {
  width: 100%;
  height: 300px;
}
.diplomas{
  text-align: center;
  height: 300px;
}
.diplom_image{
  max-height: 300px;
  max-width: 200px;
}
.diplomas_mobile{
  display: none;
}
@media (max-width: 768px){
  .diplomas_desctop{
    display: none;
  }
  .dip_mob{
    height: 120px;
  }
  .diplomas_mobile{
    display: block;
    height: 60px;
  }
  .diplom_image_mobile{
    max-height: 100px;
    max-width: 80px;
  }
  .about-us-block{
    margin-bottom: -21px;
  }
}
