nav
  .nav-wrapper.brown.darken-4
    = link_to root_path do
      = image_tag 'logo/NN_Video_Prod_Logo3.png', class: 'logo-nnvideo brand-logo center'
    a.button-collapse data-activates="mobile-demo" href="#" 
      i.material-icons menu
    ul#nav-mobile.right.hide-on-med-and-down
      li = link_to 'Назад на главную', root_path
      - unless current_page?(admin_root_path)
        li= link_to 'Выйти', admin_logout_path
    ul#mobile-demo.side-nav
      li = link_to 'Назад на главную', root_path
      - unless current_page?(admin_root_path)
        li= link_to 'Выйти', admin_logout_path
