doctype html
html
  head
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    script src="//web-ptica.ru/VRV-files/knopkavverh/23.js" type="text/javascript" 
    link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet" /
    script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js" 
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta name="viewport" content="width=device-width, initial-scale=1"
    link href="http://allfont.ru/allfont.css?fonts=lucida-sans-unicode" rel="stylesheet" type="text/css"
    meta name="description" content='#{ $description }'
    meta name="keywords" content='#{ $keywords }'
    meta name='wmail-verification' content='285ce072b3c758ee5e2511d751312c33'

    title NN VideoProd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'logo/NN_Video_Prod_icon.png', type: 'image/png'
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /
  body
    = render 'shared/header'
    = yield
    = render 'shared/footer'
